# Log/OS Files
*.log
*.swp

# Temporary files
*.tmp
tmp/*

# assembler and linker output
a.out
*.o
*.obj
*.class
*.exe


# Latex extra files
*.aux
*.lof
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cbl
*.cb2
*.idx
*.ilg
*.ind
*.bbl
*.blg
*.brf
